@model frontend.Models.Usuario

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cuerpo&Mente - Iniciar Sesión</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('@Url.Content("~/img/loginBackground.jpg")');
            background-size: cover;
            background-position: center;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
            display: flex;
            margin: auto;
        }

            .card input {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                box-sizing: border-box;
            }
    </style>
</head>

<body>
    <div class="container" style="margin-top:20%">
        <div class="card" style="margin-bottom:20%">
            <h2>Registrarse</h2>
            <form method="post" action="">
                <input type="text" name="nombreUsuario" placeholder="Usuario" required>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
                <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="apellido" placeholder="Apellido" required>
                <input type="email" name="correo" placeholder="Correo Electrónico" required>
                <button type="submit" class="btn-get-started">Registrarse</button>
                <p class="mensaje">
                    ¿Ya tienes una cuenta?
                    @Html.ActionLink("Inicia Sesíón", "Login", "Account", new { area = "" }, new { @class = "" })
                </p>
            </form>
        </div>
    </div>
</body>

</html>
