<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cuerpo&Mente - Politica de Privacidad</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 800px;
            text-align: center;
            display: flex;
            margin: auto;
        }

            .card input {
                width: 40%;
                padding: 10px;
                margin: 10px 0;
                box-sizing: border-box;
            }

        .accept-button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top:20%">
        <div class="card" style="margin-bottom:20%">
            <h2>Política de Privacidad de Mente&Cuerpo</h2>
            <p>Fecha de última actualización: 10/18/2023</p>
            <p>Cuerpo&Mente ("Nosotros", "Nuestra", "Nosotros") se compromete a garantizar la privacidad y la seguridad de la información personal proporcionada por nuestros usuarios. Esta política de privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que usted nos proporciona. Al utilizar nuestros servicios, usted acepta los términos y condiciones de esta política.</p>
            <p><strong>1. Información Personal</strong></p>
            <p>Recopilamos información personal de nuestros usuarios con el propósito exclusivo de brindar servicios de salud, incluyendo planes de nutrición y actividades físicas. La información personal que recopilamos puede incluir, entre otros datos:</p>
            <ul>
                <li>Nombre</li>
                <li>Apellido</li>
                <li>Correo Electrónico</li>
                <li>Número de Teléfono</li>
                <li>Datos de Salud</li>
                <li>Otros datos relacionados con la salud y el bienestar</li>
            </ul>
            <p><strong>2. Uso de la Información Personal</strong></p>
            <p>La información personal recopilada se utiliza exclusivamente para los siguientes fines:</p>
            <ul>
                <li>Crear y mantener registros de salud y nutrición personalizados.</li>
                <li>Proporcionar planes de salud y nutrición personalizados.</li>
                <li>Facilitar la comunicación entre usted y nuestros profesionales de la salud.</li>
                <li>Brindar servicios y asesoramiento de salud personalizado.</li>
                <li>Monitorear su progreso y realizar ajustes en los planes de salud.</li>
                <li>Garantizar la calidad de nuestros servicios.</li>
                <li>Cumplir con regulaciones legales y normativas.</li>
            </ul>
            <p><strong>3. Seguridad de la Información</strong></p>
            <p>Cuerpo&Mente se compromete a proteger la información personal de sus usuarios. Utilizamos medidas de seguridad físicas, electrónicas y administrativas para proteger los datos y prevenir el acceso no autorizado o la divulgación...</p>
            <p><strong>4. Acceso y Control de su Información Personal</strong></p>
            <p>Usted tiene derecho a acceder, modificar o eliminar su información personal en cualquier momento. Puede hacerlo a través de su cuenta en línea o poniéndose en contacto con nuestro equipo de soporte al cliente...</p>
            <p><strong>5. Cambios en la Política de Privacidad</strong></p>
            <p>Cuerpo&Mente se reserva el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio en esta política será comunicado a través de nuestro sitio web o por correo electrónico...</p>
            <p><strong>6. Contacto</strong></p>
            <p>Si tiene alguna pregunta o inquietud sobre esta política de privacidad o la privacidad de sus datos, no dude en ponerse en contacto con nosotros a través de la información de contacto proporcionada en nuestro sitio web...</p>
            <p>Cuerpo&Mente se compromete a proteger su privacidad y a utilizar su información personal únicamente para brindar servicios de salud personalizados. Estamos dedicados a mantener la confianza que usted ha depositado en nosotros y a garantizar que su información esté segura.</p>
            <button class="btn-get-started">Acepto</button>
            <button href="@Url.Action("Index", "Home")" class="btn-get-started" style="margin-top: 2px">No Acepto</button>
        </div>
</div>
    </body>

</html>