html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    flex: 1; 
}

.footer {
    margin-top: auto; 
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}