<head>
    <style>
        h1 {
            margin-top: 100px;
        }
    </style>
</head>

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container mt-5">
        <h1>Confirmar membresía</h1>
        <div class="card">
            <div class="card-body">
                <h5>Confirmar Selección</h5>
                <p>Has seleccionado el plan:@*  @Model.PlanSeleccionado.Tipo *@</p>
                <p>Precio: @* $@Model.PlanSeleccionado.Precio *@</p>
                <a @* asp-page="./Pago" asp-route-planId="@Model.PlanSeleccionado.Id" class="btn btn-success" *@>Continuar al Pago</a>
            </div>
        </div>
    </div>
</body>
</html>