@model List<TipoMembresia>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cuerpo&Mente - Elegir planes disponibles</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .card-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            transition: transform 0.2s;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 200px;
            text-align: center;
            margin: 10px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .h1 {
            padding-top: 100px;
            text-align: center;
        }

        header {
            background-color: #fff;
            color: black;
            padding: 10px;
            text-align: center;
        }

        .membresia-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .membresia-card {
            text-align: center;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            margin: 10px;
            width: 250px; /* Ajusta el tamaño aquí según tus necesidades */
            transition: transform 0.2s;
            display: flex;
            flex-direction: column;
            height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
        }

            .membresia-card .contenido {
                flex-grow: 1; /* Hace que el contenido ocupe el espacio disponible */
                padding: 20px;
            }


            .membresia-card:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transform: scale(1.05);
            }

            .membresia-card .titulo {
                background-color: #00b894;
                color: #fff;
                padding: 10px;
                text-align: center;
                font-size: 1.2em;
            }

            .membresia-card .precio {
                text-align: center;
                font-size: 1.5em;
                margin: 10px 0;
            }

            .membresia-card .boton {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: #00b894;
                color: #fff;
                text-align: center;
                text-decoration: none;
                border: none;
                cursor: pointer;
            }

                .membresia-card .boton:hover {
                    background-color: #00a897;
                }
    </style>
</head>

<body>
    <h3 class="h1">Elegir planes disponibles</h3>
    <div class="container">
        <section class="membresia-section">
            @foreach (var tipoMembresia in Model)
            {
                <div class="membresia-card">
                    <div class="titulo">@tipoMembresia.Nombre</div>
                    <div class="contenido">@tipoMembresia.Descripcion</div>
                    <div class="precio">₡@tipoMembresia.Precio</div>
                    <a href="@Url.Action("Confirmation", "Membership", new { planId = tipoMembresia.IdTipoMembresia})" class="boton">Seleccionar</a>
                </div>
            }
        </section>
    </div>
</body>

</html>