

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cuerpo&Mente - Elegir planes disponibles</title>
    <style>

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .h1 {
            padding-top: 100px;
            text-align: center;
        }

        .p {
            padding-top: 25px;
            text-align: center;
        }

        .btn-container {
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="container">
        <h1 class="h1">Pago Realizado Con Éxito</h1>
        <p class="p">¡Gracias por preferirnos!</p>
        <div class="btn-container">
            <a href="/" class="btn btn-success">Ir al Inicio</a>
        </div>
    </div>
</body>
</html>
