<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Cuerpo&Mente - Nuestros Servicios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('@Url.Content("~/img/loginBackground.jpg")');
            background-size: cover;
            background-position: center;
        }

        .services-container {
            text-align: center;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
        }

        .service-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
            display: inline-block;
            margin: 10px;
        }

            .service-card h3 {
                margin-bottom: 10px;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .service-card p {
                font-size: 14px;
                margin-bottom: 15px;
            }

            .service-card button {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            .service-card input {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                box-sizing: border-box;
            }
    </style>
</head>

<body>
    <div class="container">
        <div class="services-container">
            <h1>Nuestros Servicios</h1>

            <div class="service-card">
                <h3>Estudio de la composición corporal</h3>
                <p>Obtén información detallada sobre la composición de tu cuerpo. Conoce tu porcentaje de grasa, masa muscular y más.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Planificación de Alimentación e Hidratación</h3>
                <p>Diseñamos planes personalizados de alimentación para satisfacer tus necesidades nutricionales y de hidratación.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Educación Nutricional</h3>
                <p>Aprende sobre nutrición y hábitos alimenticios saludables para mejorar tu bienestar general.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Asesoramiento Dietético</h3>
                <p>Recibe asesoramiento experto sobre dietas específicas para tus objetivos y necesidades de salud.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Control de Peso</h3>
                <p>Establecemos objetivos realistas y sostenibles para ayudarte a alcanzar y mantener un peso saludable.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Nutrición Deportiva</h3>
                <p>Optimiza tu rendimiento deportivo con planes nutricionales adaptados a tus actividades físicas.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Nutrición Clínica</h3>
                <p>Abordamos condiciones médicas específicas a través de intervenciones nutricionales personalizadas.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Apoyo en Trastornos Alimentarios</h3>
                <p>Brindamos apoyo integral para superar trastornos alimentarios y establecer una relación saludable con la comida.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Seguimiento y Ajustes</h3>
                <p>Realizamos seguimientos regulares y ajustamos planes según tus progresos y cambios en tus necesidades.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Enfoque en Objetivos</h3>
                <p>Trabajamos contigo para establecer metas claras y medibles, brindándote el apoyo necesario para alcanzarlas.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Entrenamiento de Alta Intensidad</h3>
                <p>Programas de entrenamiento intensivo diseñados para maximizar resultados en el menor tiempo posible.</p>
                <button>Detalles</button>
            </div>

            <div class="service-card">
                <h3>Entrenamiento de Resistencia</h3>
                <p>Enfócate en mejorar tu resistencia física con programas de entrenamiento diseñados para tu nivel y objetivos.</p>
                <button>Detalles</button>
            </div>
        </div>
    </div>
</body>

</html>
