<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cuerpo&Mente - Tarjetas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
             justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .card-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 200px;
            text-align: center;
            margin: 10px;
        }

            .card img {
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .card h3 {
                color: #00b894; /* Verde */
                font-weight: bold;
                margin-top: 10px;
            }
    </style>
</head>

<body>
    <div class="container" style="margin-top:10%">
    <div class="card-row">
        <div class="card">
            <img src="~/img/membership1.jpg" alt="Membresia">
            <h3>Membresia</h3>
        </div>
    </div>

    <div class="card-row">
        <div class="card">
            <img src="~/img/dietplan1.jpg" alt="Plan Nutricional">
            <h3>Plan Nutricional</h3>
        </div>

        <div class="card">
            <img src="~/img/History1.jpg" alt="Historiales">
            <h3>Historiales</h3>
        </div>

        <div class="card">
            <img src="~/img/routine1.jpg" alt="Rutina">
            <h3>Rutina</h3>
        </div>
    </div>

    <div class="card-row">
        <div class="card">
            <img src="~/img/Inbox1.jpg" alt="Inbox">
            <h3>Inbox</h3>
        </div>

        <div class="card">
            <img src="~/img/inbody1.jpg" alt="Inbody">
            <h3>Inbody</h3>
        </div>

        <div class="card">
            <img src="~/img/food1.png" alt="Alimentos">
            <h3>Alimentos</h3>
        </div>
    </div>
    </div>
</body>

</html>
